* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html {
    color: #333;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(rgb(246, 135, 255) 0%, rgb(13, 24, 39) 100%);
}
h1 {
    text-align: center;
    margin-top: 100px;
}
button {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(50%,-50%);
    border: none;
    padding: 18px 12px;
    cursor: pointer;
    border-radius: 2px;
    color: #5a5757;
    font-weight: 600;
    transition: all 0.3s;
}
button:hover {
    background-color: #8f8e8e;
}